<div class="list-group">
  <h1>Otras ofertas imperdibles:</h1>
  <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Mia Reef Isla Mujeres</h5>
      <small>3 days ago</small>
    </div>
    <p class="mb-1">N.º 3 en relación calidad-precio de 182 lugares donde alojarse en Isla Mujeres.</p>
    <small>Todo incluido. $12.500</small>
  </a>
  <a href="#" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Hotel Belo Isla Mujeres</h5>
      <small class="text-muted">3 days ago</small>
    </div>
    <p class="mb-1">N.º 4 en relación calidad-precio de 182 lugares donde alojarse en Isla Mujeres.</p>
    <small class="text-muted">Todo incluido. $10.500.</small>
  </a>
  <a href="#" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Lotus Beach Hotel</h5>
      <small class="text-muted">3 days ago</small>
    </div>
    <p class="mb-1"> N.º 6 en relación calidad-precio de 182 lugares donde alojarse en Isla Mujeres</p>
    <small class="text-muted">Todo incluido. $7.900</small>
  </a>
</div>
