<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Isla Mujeres Palace</h5>
        <p class="card-text">N.º 1 en relación calidad-precio de 182 lugares donde alojarse en Isla Mujeres.</p>
        <a href="https://www.tripadvisor.com.ar/Hotel_Review-g150810-d807936-Reviews-Isla_Mujeres_Palace-Isla_Mujeres_Yucatan_Peninsula.html" class="btn btn-primary">Ir a la oferta</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"> Selina Poc Na Isla Mujeres</h5>
        <p class="card-text">N.º 2 en relación calidad-precio de 182 lugares donde alojarse en Isla Mujeres.</p>
        <a href="https://www.tripadvisor.com.ar/Hotel_Review-g150810-d256075-Reviews-Selina_Poc_Na_Isla_Mujeres-Isla_Mujeres_Yucatan_Peninsula.html" class="btn btn-primary">Ir a la oferta</a>
      </div>
    </div>
  </div>
</div>
